@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Metamorphous&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Pirata+One&family=Unica+One&display=swap');
@import 'tailwindcss';

.font-cinzel {
    font-family: "Cinzel";
}

.font-cinzeldecorative {
    font-family: "Cinzel Decorative";
}

.font-sairacondensed {
    font-family: "Saira Condensed";
}

.font-metamorphous {
    font-family: "Metamorphous";
}

.font-valleysans {
    font-family: "Valley Sans";
}

.font-saira {
    font-family: "Saira";
}

.font-almendra {
    font-family: "Almendra";
}

.font-pirataone {
    font-family: "Pirata One";
}

.font-unicaone {
    font-family: "Unica One";
}

.navlink {
    @apply block pr-2 pl-2 pt-0.5 pb-0.5 rounded-xl transition duration-300 ease-linear hover:scale-110 hover:shadow-[0_0_15px_white] hover:shadow-white hover:bg-black/70;
}

.fodase {
    border: 30px solid;
}