@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Metamorphous&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

.font-cinzel {
    font-family: "Cinzel";
}

.font-cinzeldecorative {
    font-family: "Cinzel Decorative";
}

.font-sairacondensed {
    font-family: "Saira Condensed";
}

.font-metamorphous {
    font-family: "Metamorphous";
}

.font-valleysans {
    font-family: "Valley Sans";
}

.font-saira {
    font-family: "Saira";
}